*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vh;
    border: solid 2px red;

    /* LINEAR-GRADIENT */

    background: linear-gradient(brown,green,orange,blue);
    background: linear-gradient(to bottom,brown,green,orange,blue);
    background: linear-gradient(to top,brown,green,orange,blue);
    background: linear-gradient(to left,brown,green,orange,blue);
    background: linear-gradient(to right,brown,green,orange,blue);
    background: linear-gradient(to top left,brown,green,orange,blue);
    background: linear-gradient(to top right,brown,green,orange,blue);    
    background: linear-gradient(to bottom left,brown,green,orange,blue);    
    background: linear-gradient(to bottom right,brown,green,orange,blue);    
    background: linear-gradient(to bottom right,brown 0% 10%,green 10% 20%,orange 20% 30%,blue 30% 40%);    
    background: repeating-linear-gradient(to bottom right,brown 0% 10%,green 10% 20%,orange 20% 30%,blue 30% 40%);    

    /* RADIAL-GRADIENT */
    background-image: radial-gradient(brown,green,orange,blue);
    background-image: radial-gradient(ellipse,brown,green,orange,blue);
    background-image: radial-gradient(circle,brown,green,orange,blue);
    background-image: radial-gradient(circle,brown 0% 10%,green 10% 20%,orange 20% 30%,blue 30% 40%);
    background-image: repeating-radial-gradient(circle,brown 0% 10%,green 10% 20%,orange 20% 30%,blue 30% 40%);
    
    /* CONIC-GRADIENT */
    background: conic-gradient(brown,green,orange,blue);

}