img:hover{
    border: 5px solid orange;
}
input:focus{
    color: red;
    background-color: palegreen;
}
a:visited{
    color: black;
}
a:active{
    color: brown;
}
div>p:first-child{
    color: pink;
}
div>p:last-child{
    color: blue;
}
div>p:nth-child(3){
    color: red;
}
div>p:nth-child(even){
    color: brown;
}
div>p:nth-child(odd){
    color: green;
}
li:not(#parshu){
    color: brown;
}