/* [alt]{
    border: 2px solid black;
} */
/* [height]{
    border: 5px solid hotpink;
} */
 /* [alt="Prabhas"]{
    border: 2px solid blueviolet;
 } */
  [height="400"]{
    border: 2px solid red;
  }